<h2>网站列表</h2>
<table class="table table-brodered">
  <thead>
    <tr>
      <th>编号</th>
      <th>域名</th>
      <th>访问</th>
      <th>创建时间</th>
      <th>处理状态</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.id %></td>
        <td><%= site.domain %></td>
        <td><%= link_to '访问网站', 'http://' + site.domain.to_s, target: '_blank' %> | <%= link_to '适配预览', "/s/#{site.short_title}", target: '_blank' %></td>
        <td><%= site.created_at.to_s(:db) %>(<%= distance_of_time_in_words_to_now(site.created_at) %>前)</td>
        <td><%= site.is_processed %></td>
        <td><%= link_to '详细', site %></td>
        <td><%= link_to '编辑', edit_site_path(site) %></td>
        <td><%= link_to '删除', site, method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @sites %>

