<!-- ==============================================
FOOTER
=============================================== -->
<footer id="main-footer" class="add-padding bg-color3 border-top-color2">

  <div class="container">
  
    <ul class="social-links text-center">
      <li>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes">
          <%= image_tag('icon-qq-boy.png', alt: '摩适配联系QQ', width: '46px', border: '0px') %>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes">
          <%= image_tag('icon-qq-girl.png', alt: '摩适配客服', width: '46px', border: '0px') %></a></li>
      <li>
        <a id="icon-weixin2" data-original-title="扫一扫加微信">
          <%= image_tag('icon-weixin.png', alt: '摩适配微信客服', width: '46px', border: '0px') %></a>
          <div id="weixin-qrcode2" class="hidden"><%= image_tag('weixin-qrcode.png', alt: '高大上的维斗喜帖', width: '200px', border: '0px') %></div>
      </li>
    </ul>
    
    <div class="hidden-xs">
      <p class="text-center">
        <%= image_tag 'anquan.png', class: 'img-responsive img-center' %>
      </p>
      <p class="text-center">
        <b>地址：</b><addr>成都市二环路东二段龙湖三千星座A座2801号</addr>&nbsp;&nbsp;
        <b>邮编: </b> 610000&nbsp;&nbsp;
        <b>电话: </b> 028-85218320
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 text-right hidden-xs">&copy; 2014-摩适配-版权所有</div>
      <div class="col-md-6 text-left hidden-xs">
        <a href="http://www.miibeian.gov.cn" target="_blank">蜀ICP备14021922号</a> | 
        <script src="http://s5.cnzz.com/stat.php?id=5833151&web_id=5833151" language="JavaScript"></script>
      </div>
      <div class="col-xs-12 visible-xs text-center">www.mshipei.com</div>
    </div>

  </div>
  
</footer>